<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			
			<include name="smoke"></include>
		
		</run>
	</groups>

	<test name="Test1">

		<classes>
			<class name="org.testng.Hello" />
			<parameter name="user" value="ajithprakasam@gmail.com"></parameter>
			<parameter name="password" value="Prakasam@77"></parameter>
		</classes>

	</test>

	<test name="Test2">

		<parameter name="userName" value="prakasamajith@gmail.com"></parameter>
		<classes>
			<class name="org.testng.All_Sample_Codes" />
		</classes>

	</test>
</suite>
